body{
    background-image: url("../img/fianl-bg.jpg");
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

#h1{
    position: absolute;
    font-size: 30px;
    top: 22%;
    left: 3%;
    background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}
#makegif {
    padding: 8px;
    width: 9%;
    margin-left: 3px;
    position: relative;
    background-color: #92a536;
    color: white;
    border:1px solid white
}
#btn{
    padding: 7px;
    margin-left: 3px;
    width: 9%;
    position: relative;
    background-image: radial-gradient(circle, #e2923b 1000%,  #d3ecef 0%);
    color: white;
    border:1px solid white
    
}
#parent{
    margin-top: 2%;
    margin-bottom: 1%;
}
#photo {
    border: 1px solid #e27a0a;
    width: 16% !important ;
    
}

@media screen and (max-width:480px)
{
#h1{

    position: absolute;
    top:65% !important
}
}
@media screen and (max-width:600px) {




    body{
        background-image: url("../img/fianl-bg.jpg");
        background-size: 100% 180%;

        overflow-x: hidden;
        background-repeat: no-repeat;
}

#parent{
    margin-top: 2%;
    margin-bottom: 15%;
}




#h1{
    position: absolute;
    top: 63% ;
    font-size: small;
    left: 20%!important;
    background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}



#photo {
    border: 1px solid #e27a0a;
    width: 100px !important ;
    height: 73px !important;
}
.same1{
    width: 100px !important;
}

.contentarea{
    margin-top: 60px !important;
}
.logo{
    margin-top:-50px !important
}
#makegif {
    padding: 7px;
    width: 30%;
    margin-left: 3px;
    position: relative;
    
    background-color:#92a536;
    color: white;
    border:1px solid white
}
#startbutton {
    position: relative;
    width: 35%;
    padding: 2px;
    background-color: #e27a0a;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}
#btn{
    padding: 7px;
    margin-left: 3px;
    width: 30%;
    position: relative;
    background-image: radial-gradient(circle, #e2923b 1000%,  #d3ecef 0%);
    color: white;
    border:1px solid white
    
}


}


@media screen and (max-width:780px) {




    body{
        background-image: url("../img/fianl-bg.jpg");
        background-size: 100% 180%;

        overflow-x: hidden;
        background-repeat: no-repeat;
}

#parent{
    margin-top: 2%;
    margin-bottom: 15%;
}

.same2{
    width: 18%;
}




#h1{
    position: absolute;
    top: 65%;
    font-size: small;
    left: 34%;
    background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}



#photo {
    border: 1px solid #e2923b;
    width: 100px !important ;
    height: 73px !important;
}
.same1{
    width: 100px !important;
}

.contentarea{
    margin-top: 60px !important;
}
.logo{
    margin-top:-50px !important
}
#makegif {
    padding: 7px;
    width: 30%;
    margin-left: 3px;
    position: relative;
    
    background-color: #92a536;
    color: white;
    border:1px solid white
}
#startbutton {
    position: relative;
    width: 35%;
    padding: 2px;
    background-color: #e2923b!important;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}
#btn{
    padding: 7px;
    margin-left: 3px;
    width: 30%;
    position: relative;
    background-image: radial-gradient(circle, #e2923b 1000%,  #d3ecef 0%);
    color: white;
    border:1px solid white
    
}
}

#video {
    border: 1px solid #e27a0a;
    width: 320px;
    height: 240px;
    border-radius: 10px;
}

#photo {
   
    width: 16%;
    height: 185px;
    display: none;
}

#canvas {
    display: none;
}

.camera {
    width: 340px;
    display: inline-block;

}

.output {
    width: 280px;
    display: inline-block;

}
.same1,.same2{
    border: 0.5px solid #e27a0a;
    border-radius: 10px;
}
.same2{
    width: 14%;
    position: relative;
    bottom: -20px;
    left: 1%;
   
}

#startbutton {
    position: relative;
    padding: 8px;
    background-color: #e2923b!important;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
    

}




.makegif button {
    cursor: pointer;
    padding: 5px;
}

.contentarea {
    margin-top: 30px;
    font-size: 16px;
    font-family: Arial;
    text-align: center;
}

#newElement {
    width: 340px;
    background-color: #6a67ce;
    display: inline-block;
}





#makegif,#btn,h1{
   display: none;
}

.logo{
    position: absolute;
    right: 2%;
}

/* #h1{
    position: relative;
} */